<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321FE32F1D7FB2AB0045F0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>321FE3481D7FB2AB0045F0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>321FE3531D7FB2AB0045F0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
